
{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags leaflet_tags %}
{# {% load crispy_forms_tags %} #}
{# {% load floppyforms %} #}
{% load widget_tweaks %}

{% load compress %}

{% block extrameta %}
<meta name="keywords" content="Your, Key, Words, Come, Right, Here">
<meta name="description" content="Here's how you can get in touch with us folks.">
<meta name="author" content="Victor Miti">

<meta property="og:title" content="This is our Contact Page" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Here's how you can get in touch with us folks.">
<meta property="og:site_name" content="example project">
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="holder.js/300x200?random=yes&auto=yes" />
<meta property="og:locale" content="en_ZM" />
<meta property="og:locale:alternate" content="en_ZA" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:locale:alternate" content="en_US" />
{% endblock %}

{% block extra_css %}

    {% compress css %}
    <!-- SweetAlert -->
    <link href="{% static 'vendors/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet">
    {% endcompress %}

    {% leaflet_js %}
    {% leaflet_css %}

    {{ form.media.css }}  {# used by django-intl-tel-input #}
{% endblock %}

{% block body_class %}template-contactpage{% endblock %}

{% block promo_block %}
<!-- Header -->
<header class="bg-dark py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Welcome to the example project Contact Page</h1>
                <p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<main role="main">
    <!-- Icon Block -->
    <section class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-lg-4">
                <div class="wrap h-100">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-phone"></span>
                    </div>
                    <div class="vcenter">
                        <h2 class="mbr-bold mbr-section-title display-5">Phone</h2>
                        <p class="mbr-text display-6">{{ page.get_phone_numbers|safeseq|join:"<br>" }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wrap h-100">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-envelope-open"></span>
                    </div>
                    <div class="vcenter">
                        <h2 class="mbr-bold mbr-section-title display-5">Email</h2>
                        <p class="mbr-text display-6">{{ page.get_email_addresses|safeseq|join:"<br>"|urlize }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wrap h-100">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-map-marked-alt"></span>
                    </div>
                    <div class="vcenter">
                        <h2 class="mbr-bold mbr-section-title display-5">Address</h2>
                        <p class="mbr-text display-6">{{ page.address|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Icon Block -->

    <!-- Contact Form -->
    <section class="container">
        <header class="text-center mx-auto mb-8">
            <h2 class="h1">How Can We Help?</h2>
            <p class="h5">Please complete the form below. We look forward to hearing from you, and we'll do our best to respond promptly</p>
        </header>
        {# credits: https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html #}
        <form class="text-center mx-auto" action="/contact/" id="contact_us_form" method="post">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <div class="row">
            {% for field in form.visible_fields %}

                {# {% if not field.html_name == "message" %} #}
                {% if field.html_name in "name email phone subject" %}
                <div class="col-lg-6 form-group mb-4">
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control form-control-lg is-invalid" %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control form-control-lg is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control form-control-lg" %}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endif %}

                {% if field.html_name == "message" %}
                <div class="col-lg-12 form-group mb-6">
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control form-control-lg is-invalid" %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control form-control-lg is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control form-control-lg" %}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endif %}

                {% if field.html_name == "captcha" %}
                {% if field.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="col-lg-6 form-group mb-4">
                    {% render_field field class="form-control form-control-lg" %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endif %}

            {% endfor %}
            <!-- </div> -->

                <!-- <div class="text-center"> -->
                <div class="col-lg-6 form-group mb-4 text-right">
                    <button type="submit" class="btn btn-lg btn-primary py-3 px-4">Submit</button>
                </div>
            </div>
        </form>
    </section>
    <!-- End Contact Form -->

    <!-- Leaflet Map -->
    <section class="container-fluid">
        <div class="row mb-2">
            <div class="col">
                {% leaflet_map "contact-us-map" callback="window.map_init_basic" %}
            </div>
        </div>
    </section>
    <!-- End Leaflet Map -->
</main>
{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<!-- SweetAlert -->
<script src="{% static 'vendors/bootstrap-sweetalert/sweetalert.min.js' %}"></script>

{{ form.media.js }}  {# used by django-intl-tel-input #}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <script>
            $.notify({
                // options
                icon: 'fa fa-exclamation-triangle',
                title: 'Error',
                message: '<strong>{{ error|escape }}</strong>'
            },{
                // settings
                type: 'danger',
                    placement: {
                from: "top",
                align: "right"
            },
            });
            </script>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <script>
        $.notify({
            // options
            icon: 'fa fa-exclamation-triangle',
            title: 'Error',
            message: '<strong>{{ error|escape }}</strong>'
        },{
            // settings
            type: 'danger',
                placement: {
            from: "top",
            align: "right"
        },
        });
        </script>
    {% endfor %}
{% endif %}

<!--  {% if messages %} -->
{% for message in messages %}
    <script>
        {% if message.tags == "success" %}
            var alert_msg = "Message Successfully Sent!";
        {% elif message.tags == "error"  %}
            var alert_msg = "Error";
        {% elif message.tags == "info" %}
            var alert_msg = "Info!";
        {% elif message.tags == "warning" %}
            var alert_msg = "Warning!";
        {% else %}
            var alert_msg = "Notice!";
        {% endif %}
        swal(alert_msg, " {{ message }} ", "{{ message.tags }}")
    </script>
{% endfor %}
<!--  {% endif %} -->

{% compress js %}

<script type="text/javascript">
	function map_init_basic (map, options) {
        var marker = L.marker([-25.73653, 28.27903]).addTo(map);
        marker.bindPopup('<h6>We are here!</h6>On the 600<sup>th</sup> Floor, Abstract Suite X, Alchemy Ave, Weavind Park, Pretoria.<br><em>(We are right on top of the Pretoria National Botanical Gardens)</em><br><br><strong><i class="fas fa-mobile-alt"></i> +27 76 123 4567</strong><br><br>Please <a href="https://www.google.com/maps/dir//Pretoria+National+Botanical+Garden,+2+Cussonia+Ave,+Brummeria,+Pretoria,+0186,+South+Africa/@-25.7394706,28.2732665,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1e95601538bd0e07:0xdce8ac75d6f61010!2m2!1d28.2732665!2d-25.7394706">click here</a> for directions').openPopup();
	}
</script>
{% endcompress %}
{% endblock %}
