
{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load compress %}

{% block extrameta %}
    <meta name="keywords" content="Your, Key, Words, Come, Right, Here">
    <meta name="description" content="{{ page.introduction }}">
    <meta name="author" content="Victor Miti">

    <meta property="og:title" content="Welcome to the example project Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page.introduction }}">
    <meta property="og:site_name" content="example project">
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="holder.js/300x200?random=yes&auto=yes" />
    <meta property="og:locale" content="en_ZM" />
    <meta property="og:locale:alternate" content="en_ZA" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:locale:alternate" content="en_US" />
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block promo_block %}
<!-- Header -->
<header class="bg-dark py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Welcome to the example project Blog</h1>
                <p class="lead mb-5 text-white-50">{{ page.introduction }}</p>

                {% if page.get_child_tags %}
                    {% for tag in page.get_child_tags %}
                        <a class="btn btn-outline-success btn-sm" href="{{ tag.url }}" role="button">{{ tag }}</a>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    {% if tag %}
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Viewing all articles tagged <strong>{{ tag }}</strong> ...</p>
            </div>
        </div>
    {% endif %}

    <hr />

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            {% if articles %}
            {# This is the set-up of a basic gallery, your items must have the categories they belong to in a data-category attribute, which starts from the value 1 and goes up from there #}
            <div class="row js-shuffle">
            {% for article in articles %}
                {% if article.article_type == "URL" %}
                <div class="grid__brick col-12 mb-5" data-groups="[&quot;{{ article.article_type }}&quot;, &quot;Post&quot;]">
                <!-- External Blog Post -->
                <div class="card mb-4">
                    {% image article.cover_picture fill-750x300 as cover_photo %}
                    <img class="card-img-top" src="{{ cover_photo.url }}" alt="{{ article.title }}">
                    <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text">This resource was authored by {{ article.author }} &amp; published {{ article.date_published|timesince }} ago at {{ article.external_domain }} &hellip;</p>
                    <a href="{{ article.external_url }}" class="btn btn-primary">More Info &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                    Posted {{ article.date_published|timesince }} ago by
                    <strong>{{ article.author }}</strong>
                    </div>
                </div>
                </div>
                {% else %}
                <div class="grid__brick col-12 mb-5" data-groups="[&quot;{{ article.article_type }}&quot;]">
                <!-- Local Blog Post -->
                <div class="card mb-4">
                    {% image article.cover_picture fill-750x300 as cover_photo %}
                    <img class="card-img-top" src="{{ cover_photo.url }}" alt="{{ article.title }}">
                    <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text">{{ article.summary|truncatewords:20 }}</p>
                    <a href="{% pageurl article %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                    Posted {{ article.date_published|timesince }} ago by
                    <strong>{{ article.article_author }}</strong>
                    </div>
                </div>
                </div>
                {% endif %}
            {% endfor %}
            <!-- sizer -->
            <div class="col-1 shuffle_sizer"></div>
            </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <p class="lead">We're Sorry, there are currently no articles available. <a href="/">Go to the Home Page </a></p>
                </div>
            {% endif %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            {% comment "configure search functionality" %}
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
                </div>
            </div>
            {% endcomment %}

            {% if articles %}
            {# A basic setup of simple shuffle controls, all you have to do is use data-group="all" for an unshuffled gallery and then the values of your categories to shuffle between them #}
            {# example: https://codepen.io/Mitroo/pen/aExZVP #}
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <ul class="blog-category-list fa-ul">
                        <li data-filter="all" class="selected"><span class="fa-li" ><i class="fas fa-box-open"></i></span>All</li>
                        <li data-filter="Shout"><span class="fa-li" ><i class="fas fa-box-open"></i></span>Announcement</li>
                        <li data-filter="Post"><span class="fa-li" ><i class="fas fa-box-open"></i></span>Article</li>
                        <li data-filter="Info"><span class="fa-li" ><i class="fas fa-box-open"></i></span>Notice</li>
                        <li data-filter="URL"><span class="fa-li" ><i class="fas fa-box-open"></i></span>External Link</li>
                        <li data-filter="Misc"><span class="fa-li" ><i class="fas fa-box-open"></i></span>Other</li>
                    </ul>
                </div>
            </div>
            {% endif %}

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

    {# Only show pagination if there is more than one page to click through #}
    {% if articles.paginator.num_pages > 1 %}
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="Article Navigation">
          <ul class="pagination pagination-lg justify-content-center">
            {% if articles.has_previous %}
              <li class="page-item">
                <a href="?page={{ articles.previous_page_number }}" aria-label="Previous" class="page-link">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for page_num in articles.paginator.page_range %}
              <li class="page-item {% if page_num == articles.number %} active{% endif %}">
                <a href="?page={{ page_num }}" class="page-link">
                  {{ page_num }}
                </a>
              </li>
            {% endfor %}

            {% if articles.has_next %}
              <li class="page-item">
                <a href="?page={{ articles.next_page_number }}" aria-label="Next" class="page-link">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}

</div>
<!-- /.container -->

{% endblock %}

{% block extra_js %}

{% compress js %}

<script src="{% static 'vendors/shufflejs/shuffle.min.js' %}"></script>

<script type="text/javascript">

// ===========================
// Shuffle.js Customization
// ===========================

var Shuffle = window.Shuffle;

var shuffleInstance = new Shuffle(document.querySelector('.js-shuffle'), {
    itemSelector: '.grid__brick',
    sizer: '.shuffle_sizer',
    buffer: 1,
});

$('.blog-category-list li').on('click', function() {
    var toFilter = $(this).data("filter");
    shuffleInstance.filter(toFilter);
    $('.blog-category-list li').removeClass('selected');
    $(this).addClass('selected');
});

</script>

{% endcompress %}

{% endblock %}
