
{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags people_tags %}

{% block title_suffix %}
{{ page.title }}
{% endblock %}

{% block extrameta %}
{# We need to modify the Article Model so that the author adds keywords and they appear here #}
<meta name="keywords" content="Your, Key, Words, Come, Right, Here">
<meta name="description" content="{{ page.summary|truncatechars:280 }}">
<meta name="author" content="Victor Miti">

<meta property="og:title" content="example project &mdash; {{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.summary|truncatechars:280 }}">
<meta property="og:site_name" content="example project">
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{# We can also modify this so that the article cover image is used as the og:image #}
<meta property="og:image" content="holder.js/300x200?random=yes&auto=yes" />
<meta property="og:locale" content="en_ZM" />
<meta property="og:locale:alternate" content="en_ZA" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:locale:alternate" content="en_US" />
{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block body_class %}template-news-article{% endblock %}

{% block promo_block %}
<!-- Header -->
<header class="bg-info py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">{{ page.title }}</h1>
                <p class="lead mb-5 text-white-50"><i class="fas fa-calendar-day mr-2"></i> Posted on {{ page.date_published }}.</p>
                <div class='oss-widget-interface text-center'></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}

<main role="main">
    <section class="container">
        <div class="row mb-5">
            <div class="col">
                <span class="badge badge-warning"><i class="fas fa-clock mr-2"></i> {{ time_to_read }}</span>
                {% if page.get_tags %}
                    {% for tag in page.get_tags  %}
                        <a href="{{ tag.url }}" class="btn btn-outline-warning btn-sm">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
                <hr>
                <div class="">

                {% include_block page.content %}

                </div>
                <hr>
                {% comment "Optional Disqus Comments" %}
                <div id="disqus_thread"></div>
                {% endcomment %}
            </div>
        </div>
    </section>
</main>

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="https://sharecdn.social9.com/v2/js/opensocialshare.js"></script><script type="text/javascript" src="https://sharecdn.social9.com/v2/js/opensocialsharedefaulttheme.js"></script><link rel="stylesheet" type="text/css" href="https://sharecdn.social9.com/v2/css/os-share-widget-style.css"/><script type="text/javascript">var shareWidget = new OpenSocialShare();shareWidget.init({isHorizontalLayout: 1,widgetIconSize: "32",widgetStyle: "square",theme: 'OpenSocialShareDefaultTheme',providers: { top: ["Email","Facebook","Google","GooglePlus","LinkedIn","Pinterest","Print","Twitter"]}});shareWidget.injectInterface(".oss-widget-interface");shareWidget.setWidgetTheme(".oss-widget-interface");</script>

{% comment "Just in case We Want Disqus Comments" %}
<script>

var disqus_config = function () {
    this.page.url = '{{ request.build_absolute_uri }}';
    this.page.identifier = '{{ page.article_slug }}';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://your-disqus-id.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endcomment %}

{% endblock %}
