
{% load wagtailcore_tags wagtailimages_tags %}

{% for director in directors %}
{% image director.image fill-320x180 as photo %}
<div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-0 shadow">
        <img src="{{ photo.url }}" class="card-img-top" alt="{{ director.first_name }} {{ director.last_name }}" />
        <div class="card-body">
            <h5 class="card-title">{{ director.first_name }} {{ director.last_name }}</h5>
            <h6 class="card-subtitle mb-3 text-muted font-weight-normal">{{ director.position }}</h6>
            {% if director.bio != "" %}<button class="btn btn-danger artcl-bio" data-toggle="modal" data-target="#bio-{{ director.last_name|slugify }}"><i class="fas fa-info-circle mr-2"></i> Bio</button>{% endif %}
            {% if director.facebook %}
                <a href="{{ director.facebook }}" class="card-link"><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if director.twitter %}
            <a href="{{ director.twitter }}" class="card-link"><i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if director.linked_in %}
            <a href="{{ director.linked_in }}" class="card-link"><i class="fab fa-linkedin-in"></i></a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bio-{{ director.last_name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="bio-{{ director.last_name|slugify }}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="bio-{{ director.last_name|slugify }}Title">{{ director.position }} {{ director.first_name }} {{ director.last_name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ director.bio|richtext }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% endfor %}

{% for staff_member in staff %}
{% image staff_member.image fill-320x180 as photo %}
<div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-0 shadow">
        <img src="{{ photo.url }}" class="card-img-top" alt="{{ staff_member.first_name }} {{ staff_member.last_name }}" />
        <div class="card-body">
            <h5 class="card-title">{{ staff_member.first_name }} {{ staff_member.last_name }}</h5>
            <h6 class="card-subtitle mb-3 text-muted font-weight-normal">{{ staff_member.position }}</h6>
            {# This needs fixing: If, say two staff members have the same surname then you'll have more than one modal with the same ID #}
            {% if staff_member.bio != "" %}<button class="btn btn-danger artcl-bio" data-toggle="modal" data-target="#bio-{{ staff_member.last_name|slugify }}"><i class="fas fa-info-circle mr-2"></i> Bio</button>{% endif %}
            {% if staff_member.facebook %}
            <a href="{{ staff_member.facebook }}" class="card-link"><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if staff_member.twitter %}
            <a href="{{ staff_member.twitter }}" class="card-link"><i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if staff_member.linked_in %}
            <a href="{{ staff_member.linked_in }}" class="card-link"><i class="fab fa-linkedin-in"></i></a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bio-{{ staff_member.last_name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="bio-{{ staff_member.last_name|slugify }}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="bio-{{ staff_member.last_name|slugify }}Title">{{ staff_member.position }} {{ staff_member.first_name }} {{ staff_member.last_name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ staff_member.bio|richtext }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{% endfor %}
